:root {
	--text-light: #001D33;
	--text-dark: #DBF1FF;
	--main-dark: #001D33;
	--main-light: #DBF1FF;
	--field-light: #9CBDD3;
	--field-dark: #14364E;
	--accent-light: #008888;
	--accent-dark: #009999;
	--done-light: #1B8D64;
	--done-dark: #5DCDA1;
	--today-light: #3256AB;
	--today-dark: #3256A8;
}

* {
	box-sizing: border-box;
	font-family: JockeyOne;
}