:root {
	--text-light: #001D33;
	--text-dark: #DBF1FF;
	--main-dark: #001D33;
	--main-light: #DBF1FF;
	--field-light: #9CBDD3;
	--field-dark: #14364E;
	--accent-light: #008888;
	--accent-dark: #009999;
	--done-light: #1B8D64;
	--done-dark: #5DCDA1;
	--today-light: #3256AB;
	--today-dark: #3256A8;
}
:root {
  --text: var(--text-light);
  --main: var(--main-light);
  --field: var(--field-light);
  --accent: var(--accent-light);
  --done: var(--done-light);
  --today: var(--today-light);
}

.dark {
  --text: var(--text-dark);
  --main: var(--main-dark);
  --field: var(--field-dark);
  --accent: var(--accent-dark);
  --done: var(--done-dark);
  --today: var(--today-dark);
}


* {
	box-sizing: border-box;
	font-family: JockeyOne;
}